.root {
    -fx-background-radius: 20;
}

.mainPane {
    -fx-background-color: linear-gradient(to bottom, #B0C4DE, #D3D3D3, #A9A9A9);
    -fx-background-radius: 20;
}

.highlight{
    -fx-background-color: #00000025;
    -fx-background-radius: 20;
}

